nav{
	height: 150px;
}

.body {
  background: url(../img/fondo-turistico.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}